html {
    scroll-behavior: smooth;
}
.logo__container h1, .item, .card, button, .theme__container button img{
    transition: transform 0.3s ease;
}

.item:hover, .moon__icon:hover {
    transform: scale(1.1); 
}

@keyframes rainbow {
    0% { color: red; }
    15% { color: orange; }
    30% { color: yellow; }
    45% { color: rgb(9, 222, 9); }
    60% { color: rgb(60, 231, 254); }
    80% { color: blue; }
    90% { color: indigo; }
    100% { color: red}
  }


  .logo__container h1:hover {
    transform: scale(1.03);
    animation: rainbow 3s infinite; /* 5s - продолжительность анимации, можно изменить */
  }
.card:hover {
    transform: scale(1.03); 
}

.card  button:hover, .content button:hover {
    filter: brightness(95%);
}

.theme__container button img {
    transition: transform 0.3s ease; 
}

.theme__container button img:hover {
    transform: scale(1.2);
}

.theme__container button img:active {
    transform: scale(1.1) rotate(360deg); 
}

.burger:hover{
    transform: translateX(5px);
}

.burger__menu__open button:hover{
    transform: scale(1.03);
}

@keyframes open {
    0%{
        right: -350px;
        animation-timing-function: ease-in-out;
    }
    100%{
        right:0px;
        animation-timing-function: ease-in-out;
    }
}

@keyframes close {
    0%{
        right: -0px;
        animation-timing-function: ease-in-out;
    }
    100%{
        right: -350px;
        animation-timing-function: ease-in-out;
    }
}

.burger__menu__open {
    
    animation: open 0.2s forwards;
}

